*{
  padding: 0;
  margin:0;
  box-sizing: border-box;

}

body{
background-color:#4F95B4;
}

.container{
  background-color:white;
  width:50%;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  padding:3em;
  border-radius:15px;
  box-shadow:0 2px 4px #89CFF0;
  display:flex;
  flex-direction: column;
}

#header{
  font-size:25px;
  color:#4F95B4;
  font-weight:bold;
}

.categories_container div{
  display:flex;
  justify-content: space-around;
  margin-top:10%;
  gap:10%;
  margin-bottom:10%;

}
.categories_container div button {
  padding:2%;
  text-transform: capitalize;
  border:2px solid #4F95B4;
  cursor:pointer;
  color:#4F95B4;
  font-weight:bold;
  border-radius: 5px;
}
.categories_container div button.active {
  padding:2%;
  text-transform: capitalize;
  background-color:#4F95B4;
  color:white;

}

.categories_container div button:hover{
  padding:2%;
  text-transform: capitalize;
  background-color:#4F95B4;
  color:white;

}

.categories_container div button:disabled{
  padding:2%;
  text-transform: capitalize;
  border:2px solid lightgray;
  cursor:pointer;
  color:white;
  font-weight:bold;
  border-radius: 5px;
  background-color: lightgray;
}
.categories_container div button:disabled:hover{
  padding:2%;
  text-transform: capitalize;
  border:2px solid lightgray;
  cursor:pointer;
  color:white;
  font-weight:bold;
  border-radius: 5px;
  background-color: lightgray;
}


.letters{
  width:100%;
  display:flex;
  justify-content: center;
  gap:10px;
  flex-wrap: wrap;

}

.letters button{
  padding:2%;
  text-transform: capitalize;
  border:2px solid #BA8B6D;
  cursor:pointer;
  color:#BA8B6D;
  font-weight:bold;
  border-radius: 5px;
}

.letters button.active{
  padding:2%;
  text-transform: capitalize;
  background-color:#BA8B6D;
  color:white;
}

.letters button:hover{
  padding:2%;
  text-transform: capitalize;
  background-color:#BA8B6D;
  color:white;
}

.letters button:disabled{
  padding:2%;
  text-transform: capitalize;
  border:2px solid lightgray;
  cursor:pointer;
  color:white;
  font-weight:bold;
  border-radius: 5px;
  background-color: lightgray;
}

.letters button:disabled:hover{
  padding:2%;
  text-transform: capitalize;
  border:2px solid lightgray;
  cursor:pointer;
  color:white;
  font-weight:bold;
  border-radius: 5px;
  background-color: lightgray;
}



.hide{
  display:none;
}